<!DOCTYPE html>
<html >
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="/static/css/jquery.mobile.flatui.css" />
  <script src="/static/js/jquery.mobile-1.4.0-rc.1.js"></script>
    <!-- CORE JQUERY  -->
    <script src="/static/js/jquery.js"></script>
    <!-- BOOTSTRAP SCRIPTS  -->
    <script src="/static/js/bootstrap.js"></script>
    <!-- CUSTOM SCRIPTS  -->
    <script src="/static/js/custom.js"></script>


    <meta charset="utf-8" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <!--[if IE]>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <![endif]-->
    <title>价格查询器</title>
    <!-- BOOTSTRAP CORE STYLE CSS -->
    <link href="/static/css/bootstrap.css" rel="stylesheet" />
     <!-- FONTAWESOME STYLE CSS -->
     <link href="/static/css/font-awesome.css" rel="stylesheet" />
    <!-- CUSTOM STYLE CSS -->
    <link href="/static/css/style.css" rel="stylesheet" />
    <!-- jquery mobile css -->
</head>

<body > 
        <div id="header" ></div>

    <!--MENU SECTION END-->
    <section class="headline-sec">
        <div class="overlay ">
            <h3 align="center"  >物品询价器</h3>
               <h5 align="center" > 说明：查询到的为物品近一段时间的价格讯息。供参考。请尽量结合价格监控使用</h5>
        </div>
    </section>
    <!--HOME SECTION END-->
    <section>
        <div class="container">
                <form id="form1" action="./price_searcher" method="get">
                          待询价的物品名 关键词空格区分:<br> 
                     <input name="item" cols="42" rows="4" value="{{item}}"> </input>  
                    <input type='hidden' name='q' value='rmbprice'> </input>
                    <br>
                  <input type="submit" value="Submit"  class="btn btn-info btn-lg btn-set" />
                </form>

                <br>
                推荐度越大，价格越好
                <br>
                红色：推荐度大于90%  黄色：推荐度大于75%
                <div>
                <table border='3' width=100%>
                        <tr bgcolor="">
                        <td><a href='?item={{item}}&rev={{rev}}&q=source'><strong> 分类 </strong> </a></td>
                        <td><a href='?item={{item}}&rev={{rev}}&q=time'><strong> 时间 </strong> </a></td>
                        <td><a href='?item={{item}}&rev={{rev}}&q=uprate'><strong> 推荐度 </strong> </a></td>
                        <td><a href='?item={{item}}&rev={{rev}}&q=up'><strong> 推荐数 </strong> </a></td>
                       <!-- <td><a href='?item={{item}}&rev={{rev}}&q=starr'><strong> 收藏数 </strong> </a></td> -->
                        <td><a href='?item={{item}}&rev={{rev}}&q=rmbprice'><strong> 价格￥ </strong> </a></td>
                        <td><a href='?item={{item}}&rev={{rev}}&q=price'><strong> 价格说明 </strong> </a></td>
                        <td><a href='?item={{item}}&rev={{rev}}&q=title'><strong> 标题 </strong> </a></td>
                        </tr>
                    {% for r in res %}
                        <tr bgcolor = '{{ r.bgcolor }}'>
                        <td>&nbsp;{{ r.source }}&nbsp;</td>
                        <td nowrap="line">&nbsp;{{ r.time }}&nbsp;</td>
                        <td>&nbsp;{{ r.uprate }}%</td>
                        <td>&nbsp;{{r.up}}</td>
                       <!-- <td>{{ r.star }}</td> -->
                        <td>&nbsp;{{ r.rmbprice }}&nbsp;</td>
                        <td>&nbsp;{{ r.price }}</td>
                        <td><a href = {{ r.url }} > {{ r.title }} </a></td>
                        </tr>
                    {% endfor %}
                </table>
                </div>


        </div>
    </section>
     <!-- COPY TEXT SECTION END-->
    <!-- JAVASCRIPT FILES PLACED AT THE BOTTOM TO REDUCE THE LOADING TIME  -->
</body>
</html>

