<!DOCTYPE html>
<html >
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="/static/css/jquery.mobile.flatui.css" />
  <script src="/static/js/jquery.mobile-1.4.0-rc.1.js"></script>
    <!-- CORE JQUERY  -->
    <script src="/static/js/jquery.js"></script>
    <!-- BOOTSTRAP SCRIPTS  -->
    <script src="/static/js/bootstrap.js"></script>
    <!-- CUSTOM SCRIPTS  -->
    <script src="/static/js/custom.js"></script>


    <meta charset="utf-8" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <!--[if IE]>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <![endif]-->
    <title>RO 挂机效率计算器</title>
    <!-- BOOTSTRAP CORE STYLE CSS -->
    <link href="/static/css/bootstrap.css" rel="stylesheet" />
     <!-- FONTAWESOME STYLE CSS -->
     <link href="/static/css/font-awesome.css" rel="stylesheet" />
    <!-- CUSTOM STYLE CSS -->
    <link href="/static/css/style.css" rel="stylesheet" />
    <!-- jquery mobile css -->
</head>

<body > 
        <div id="header" ></div>

    <!--MENU SECTION END-->
    <section class="headline-sec">
        <div class="overlay ">
            <h3 align="center"  >RO 挂机效率计算器</h3>
               <h5 align="center" > 说明:计算ro每次挂机的收益</h5>
        </div>
    </section>
    <!--HOME SECTION END-->
    <section>
        <div class="container">
                <form id="form1" action="./act" method="get">
                         输入开始和结束的数据(经验，材料数，z等), 输入完成后按tab自动出结果:<br> 
                                          <br>材料1: <input type='input' id='ro_begin_1' value='{{ begin }}' name="begin" cols="52"> </input>  -
                     <input type='input' id='ro_end_1' value='{{end}}' name="end" cols="42"> </input>
                     单价：<input type='input' id='ro_price_1' value='{{end}}' name="end" cols="42"> </input>                           

    
                     <br>材料2: <input type='input' id='ro_begin_2' value='{{ begin }}' name="begin" cols="52"> </input>  -
                     <input type='input' id='ro_end_2' value='{{end}}' name="end" cols="42"> </input>
                     单价：<input type='input' id='ro_price_2' value='{{end}}' name="end" cols="42"> </input>
                     
                    <br>材料3: <input type='input' id='ro_begin_3' value='{{ begin }}' name="begin" cols="52"> </input>  -
                     <input type='input' id='ro_end_3' value='{{end}}' name="end" cols="42"> </input>
                    <input type='hidden' name='q' value=''> </input>
                     单价：<input type='input' id='ro_price_3' value='{{end}}' name="end" cols="42"> </input>
                
                    <br>金钱Z: <input type='input' id='ro_begin' value='{{ begin }}' name="begin" cols="52"> </input>  - 
                     <input type='input' id='ro_end' value='{{end}}' name="end" cols="42"> </input>  
                    


                  <input type="hidden" value="点击这里显示结果"  class="btn btn-info btn-lg btn-set" />
                </form>

                <div>
                <table border='3' width="95%">
                        <tr bgcolor="">
                        <td><a href='?begin={{begin}}&end={{end}}&q=category_id'><strong> 开始时间 </strong> </a></td>
                        <td><a href='?begin={{begin}}&end={{end}}&q=create_time'><strong> 结束时间 </strong> </a></td>
                        </tr>
                        <tr bgcolor = '{{ r.bgcolor }}'>
                        <td><div id='ro_start_time'> </div> </td>
                        <td><div id='ro_end_time'></div> </td>
                        </tr>

                        <tr>
                        <td><a href='?begin={{begin}}&end={{end}}&q=cost'><strong> 每分钟增量 </strong> </a></td>
                        <td><a href='?begin={{begin}}&end={{end}}&q=content'><strong> 每小时 </strong> </a></td>
                        <td><a href='?begin={{begin}}&end={{end}}&q=title'><strong> 每300分钟 </strong> </a></td>
                        <td><a href='?begin={{begin}}&end={{end}}&q=title'><strong> 每500分钟(计算疲劳后) </strong> </a></td>
                        </tr>
                        <tr bgcolor = '{{ r.bgcolor }}'>
                        <td><div id='ro_per_min'></div> </td>
                        <td><div id='ro_per_100min'></div> </td>
                        <td><div id='ro_per_300min'></div> </td>
                        <td><div id='ro_per_500min'></div> </td>

                        </tr>
                </table>
                </div>

                <div>
                    <table border='3' width="95%">
                    {% for c in cate_info %}
                        <tr>
                        <td align="right"> {{c.name}}</td>
                        <td align="right"> {{c.percent}} %</td>
                        <td align="right"> {{c.cost}}</td>
                        <td width="60%"> <div style="background-color: #a4c2f4; width: {{c.percent}}%; height: 100%;"><br>  </div></td>
                        <tr>
                    {% endfor %} 
                    </table>
                </div>


        </div>
    </section>
     <!-- COPY TEXT SECTION END-->
    <!-- JAVASCRIPT FILES PLACED AT THE BOTTOM TO REDUCE THE LOADING TIME  -->
</body>
</html>

