<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="css/jquery.mobile.flatui.css" />


<!-- 引入 jQuery 库 -->
<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>

<!-- 引入 jQuery Mobile 库 -->
<script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>


</head>

<body>

                <form id="form1" action="./xb2_combo_result" method="get">
                        <b>格式:</b> 角色=异刃1 异刃2 异刃3<br>
                        角色回车分割
                        <br>
                        示例:<br>
                        </br>

                           <textarea name="req" cols="42" rows="4">Rex=焰 朱雀 月
尼亚=白虎 宇迦 时叶
虎=花JS
                             </textarea>
                    <br>
                  <input type="submit" value="Submit" />
                    <button data-icon="flat-new" data-theme="b" value = "Submit" > submit</button>
                </form>

                </body>
                
</html>
