<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <!--[if IE]>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <![endif]-->
    <title></title>
    <!-- BOOTSTRAP CORE STYLE CSS -->
    <link href="/static/css/bootstrap.css" rel="stylesheet" />
     <!-- FONTAWESOME STYLE CSS -->
     <link href="/static/css/font-awesome.css" rel="stylesheet" />
    <!-- CUSTOM STYLE CSS -->
    <link href="/static/css/style.css" rel="stylesheet" />
</head>
<body > 
        <div id="header" ></div>

    <!--MENU SECTION END-->
    <section class="headline-sec">
        <div class="overlay ">
            <h3 >查询结果：</h3>
        </div>
    </section>
    <!--HOME SECTION END-->
    <section>
        <div class="container">
            <table border='3' width='600px'>
                <form id="form1" action="./xb2_combo_result" method="get">
                    <tr>
                        <b>格式:</b> 角色=异刃1 异刃2 异刃3<br>
                        角色回车分割
                        <br>
                        示例:<br>
                        </br>

                    </tr>
                    <tr> 
                           <textarea name="req" cols="42" rows="4">Rex=焰 朱雀 月
尼亚=白虎 宇迦 时叶
虎=花JS
                             </textarea>  
                     </tr>
                    <tr>
                    <br>
                  <input type="submit" value="Submit" />
                    </tr>
                <div>
                <table border='3'>
                    {% for blade,info in blade_info.items %}
                        <tr bgcolor="{{ info.bgcolor }}">
                        <td><a href='{{ info.url }}'><strong> {{ blade }}</strong> </a></td>
                        <td>{{ info.element }}</td>
                        <td>{{ info.type }}</td>
                        <td>{{ info.weapon }}</td>
                        <td>{{ info.gender }}</td>
                        <td>{{ info.gift }}</td>
                        <td>{{ info.fav1 }}</td>
                        <td>{{ info.fav2 }}</td>
                        </tr>
                    {% endfor %}
                </table>
                </div>
                </form>
            </table>
        </div>
    </section>
           </div>
                   </div>
    </div>
     <!-- COPY TEXT SECTION END-->
    <!-- JAVASCRIPT FILES PLACED AT THE BOTTOM TO REDUCE THE LOADING TIME  -->
    <!-- CORE JQUERY  -->
    <script src="/static/js/jquery-1.11.1.js"></script>
    <!-- BOOTSTRAP SCRIPTS  -->
    <script src="/static/js/bootstrap.js"></script>
    <!-- CUSTOM SCRIPTS  -->
    <script src="/static/js/custom.js"></script>
</body>
</html>

