<!DOCTYPE html>
<html >
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="/static/css/jquery.mobile.flatui.css" />
  <script src="/static/js/jquery.mobile-1.4.0-rc.1.js"></script>
    <!-- CORE JQUERY  -->
    <script src="/static/js/jquery.js"></script>
    <!-- BOOTSTRAP SCRIPTS  -->
    <script src="/static/js/bootstrap.js"></script>
    <!-- CUSTOM SCRIPTS  -->
    <script src="/static/js/custom.js"></script>


    <meta charset="utf-8" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <!--[if IE]>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <![endif]-->
    <title>异度之刃连击计算器</title>
    <!-- BOOTSTRAP CORE STYLE CSS -->
    <link href="/static/css/bootstrap.css" rel="stylesheet" />
     <!-- FONTAWESOME STYLE CSS -->
     <link href="/static/css/font-awesome.css" rel="stylesheet" />
    <!-- CUSTOM STYLE CSS -->
    <link href="/static/css/style.css" rel="stylesheet" />
    <!-- jquery mobile css -->
</head>

<body > 
        <div id="header" ></div>

    <!--MENU SECTION END-->
    <section class="headline-sec">
        <div class="overlay ">
            <h3 >查询结果：</h3>
        </div>
    </section>
    <!--HOME SECTION END-->
    <section>
        <div class="container">
                <form id="form1" action="./xb2_combo_result" method="get">
                        <b>格式:</b> 角色=异刃1 异刃2 异刃3<br>
                        角色回车分割
                        <br>
                        示例:<br>
                        </br>

                           <textarea name="req" cols="42" rows="4">Rex=焰 朱雀 月
尼亚=白虎 宇迦 时叶
虎=花JS
                             </textarea>  
                    <br>
                  <input type="submit" value="Submit" />
                    <button type="button" class="btn btn-info btn-lg btn-set"  value = "Submit" > submit</button>
                </form>

                <div>
                <table border='3'>
                        <tr bgcolor="">
                        <td><a href='?q=owner'><strong> 御刃者 </strong> </a></td>
                        <td><a href='?q=name'><strong> 姓名 </strong> </a></td>
                        <td><a href='?q=element'><strong> 元素 </strong> </a></td>
                        <td><a href='?q=type'><strong> 类型 </strong> </a></td>
                        <td><a href='?q=weapon'><strong> 武器 </strong> </a></td>
                        <td><a href='?q=gender'><strong> 性别 </strong> </a></td>
                        <td><a href='?q=gift'><strong> 喜爱 </strong> </a></td>
                        <td><a href='?q=fav1'><strong> 礼物1 </strong> </a></td>
                        <td><a href='?q=fav2'><strong> 礼物2 </strong> </a></td>
                        </tr>
                    {% for single in blade_info %}
                        <tr bgcolor="{{ single.1.bgcolor }}">
                        <td>{{ single.1.owner }}</td>
                        <td><a href='{{ single.1.url }}'><strong> {{ single.0 }}</strong> </a></td>
                        <td>{{ single.1.element }}</td>
                        <td>{{ single.1.type }}</td>
                        <td>{{ single.1.weapon }}</td>
                        <td>{{ single.1.gender }}</td>
                        <td>{{ single.1.gift }}</td>
                        <td>{{ single.1.fav1 }}</td>
                        <td>{{ single.1.fav2 }}</td>
                        </tr>
                    {% endfor %}
                </table>
                </div>


        </div>
    </section>
     <!-- COPY TEXT SECTION END-->
    <!-- JAVASCRIPT FILES PLACED AT THE BOTTOM TO REDUCE THE LOADING TIME  -->
</body>
</html>

